/**
 * Modules.
 * 
 * 1. Main header
 * 2. Message
 * 3. Buttons
 * 4. Main content
 * 5. Main footer
 * 
 * Author: Sofie Wallin
 */

/*------------------------------------*\
    1. MAIN HEADER
\*------------------------------------*/

/*------ Logo ------*/

#main-header .logo {
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 5;

    @include block;
    height: 56px;
    width: 56px;

    @include breakpoint(tablet) {
        height: 64px;
        width: 64px;
    }

    @include breakpoint(desktop) {
        height: 72px;
        width: 72px;
    }
}

/*------ Navigation ------*/

#main-navigation {
    float: right;
    width: calc(100% - 56px);

    @include breakpoint(tablet) {
        width: calc(100% - 64px);
    }

    @include breakpoint(tablet) {
        width: calc(100% - 72px);
    }
}

// Toggle menu button
.toggle-menu-button {
    float: right;
    height: 24px;
    margin: 16px 0;
    position: relative;
    width: 24px;
    z-index: 5;

    &::before,
    &::after {
        @include pseudo-block;
        background-color: $light-yellow;
        border-radius: 1px;
        content: '';
        height: 2px;
        left: 0;
        transition: all 0.2s ease-in;
        width: 24px;
    }

    &::before {
        top: 6px;
    }

    &::after {
        bottom: 6px;
    }

    &:hover {
        &::before {
            top: 5px;
        }
    
        &::after {
            bottom: 5px;
        }
    }

    &.hide {
        &::before {
            top: 11px;
            transform: rotate(-45deg);
        }
    
        &::after {
            bottom: 11px;
            transform: rotate(45deg);
        }
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

// Menu
.menu {
    background-color: rgba($gray-green, 0.9);
    left: 0;
    list-style: none;
    padding: 104px 20px 16px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 4;

    a {
        display: inline-block;
        margin-bottom: 0.8em;
    }

    @include breakpoint(tablet) {
        background-color: transparent;
        height: 64px;
        max-height: 64px;
        padding: 0;
        position: relative;

        &.hidden {
            overflow: visible;
            visibility: visible;
            opacity: 1;
        }

        li {
            @include inline-block;
            height: 64px;
            line-height: 64px;
            margin-left: 40px;

            @include breakpoint(tablet) {
                height: 72px;
                line-height: 72px;
            }
        }

        a {
            margin-bottom: 0;
        }
    }

    @include breakpoint(desktop) {
        height: 72px;
        max-height: 72px;
    }
}

/*------ Portrait ------*/

.portrait {
    bottom: 0;
    height: 286px;
    position: absolute;
    right: -96px;
    z-index: 2;
    width: 279px;

    @include breakpoint(mobile-big) {
        right: 0;
    }

    @include breakpoint(tablet) {
        height: 472px;
        right: -220px;
        width: 460px;
    }

    @include breakpoint(desktop) {
        height: 745px;
        right: -280px;
        width: 772px;
    }
}

/*------------------------------------*\
    2. MESSAGE
\*------------------------------------*/

#message {
    @include block;
    height: 48px;
    left: 0;
    line-height: 48px;
    padding: 0 10px;
    position: fixed;
    top: -48px;
    transform: translateY(0);
    transition: transform 0.4s ease-in;
    width: 100%;
    z-index: 6;

    &.is-active {
        transform: translateY(48px);

        @include breakpoint(tablet) {
            transform: translateY(64px);
        }
    }

    &.error {
        background-color: rgba($error-color, 0.9);
    }

    @include breakpoint(tablet) {
        height: 64px;
        line-height: 64px;
        top: -64px;
    }
}

/*------------------------------------*\
    3. BUTTONS
\*------------------------------------*/

.button-container {
    margin-top: 40px;
    margin-bottom: 8px;

    @include breakpoint(tablet) {
        margin-top: 48px;
    }
}

.button {
    @include inline-block;
    border: 2px solid $dark-gray-green;
    border-radius: 24px;
    height: 48px;
    line-height: 44px;
    padding: 0 24px;

    &:hover {
        background-color: $dark-orange;
        border-color: $dark-orange;
        color: $white;
    }

    @include breakpoint(tablet) {
        border-radius: 32px;
        height: 64px;
        line-height: 60px;
        padding: 0 32px;
    }
}

/*------------------------------------*\
    4. MAIN CONTENT
\*------------------------------------*/

.project-list,
.skill-list,
.education-list,
.education-list ul,
.work-experience-list,
.contact-links {
    list-style: none;
}

.skills-container,
.experiences-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;

    @include breakpoint(desktop) {
        margin-top: 48px;
        column-gap: 24px;
    }
}

.project,
.column {
    margin-bottom: 24px;

    @include breakpoint(tablet) {
        margin-bottom: 32px;
    }
}

.project:last-child,
.column:last-child {
    margin-bottom: 0;
}

/*------ Projects ------*/

.project {

    .text-container {
        width: 100%;

        @include breakpoint(desktop-small) {
            padding-top: 48px;
            padding-left: 98px;
        }
    }

    &:nth-child(even) {
        @include breakpoint(desktop-small) {
            .project-logo,
            .text-container {
                grid-row: 1/2;
            }
            .project-logo {
                grid-column: 2/3;
            }

            .text-container {
                grid-column: 1/2;
                padding-right: 98px;
                padding-left: 0;
            }

            .project-logo::after {
                left: -64px;
                margin-left: 0;
            }
        }
    }

    article {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 8px;

        @include breakpoint(desktop-small) {
            column-gap: 24px;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 8px;
        }
    }

    .project-logo {
        background-color: $light-gray;
        display: flex;
        height: 240px;
        justify-content: center;
        margin-bottom: 40px;
        padding: 56px;
        position: relative;
        text-align: center;
    
        @include breakpoint(tablet) {
            height: 334px;
            margin-bottom: 72px;
            padding: 96px 180px;
        }
    
        @include breakpoint(desktop-small) {
            margin-bottom: 0;
            padding: 96px 98px;
        }
    
        &::after {
            @include pseudo-block;
            background-color: $dark-gray-green;
            bottom: -32px;
            content: '';
            height: 64px;
            left: 58px;
            width: 2px;
    
            @include breakpoint(tablet) {
                bottom: -56px;
                height: 96px;
                left: 120px;
            }
    
            @include breakpoint(desktop-small) {
                bottom: 50%;
                margin-top: 1px;
                margin-left: -40px;
                height: 2px;
                left: 100%;
                width: 104px;
            }
        }
    
        img {
            margin: 0 auto;
            max-height: 128px;
            max-width: 223px;
    
            @include breakpoint(tablet) {
                max-height: 142px;
                max-width: 344px;
            }
    
            @include breakpoint(tablet) {
                max-width: 270px;
            }
        }
    }

    p {
        max-width: 464px;

        @include breakpoint(desktop-small) {
            max-width: 368px;
        }
    } 
}

/*------ Skills ------*/

.skills-container {
    @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .column {
        @include breakpoint(tablet) {
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    
        @include breakpoint(desktop) {
            margin-bottom: 0;
        }
    }
}

.skill-list li {
    margin-bottom: 4px;
    padding-left: 20px;
    position: relative;

    &::before {
        @include pseudo-block;
        content: '– ';
        left: 0;
    }
}

/*------ Experience ------*/

.experiences-container { 
    li {
        margin-bottom: 16px;

        @include breakpoint(tablet) {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(desktop) {
        grid-template-columns: 1fr 1fr;

        .column {
            margin-bottom: 0;
        }
    }
}

#selected-courses {
    margin-top: 20px;
}

/*------ Contact me ------*/

.contact-links li {
    @include inline-block;
    padding-right: 23px;
    position: relative;

    &::after {
        @include pseudo-block;
        color: $gray-green;
        content: '/';
        margin-left: -15px;
        left: 100%;
        top: 0;
    }

    &:last-child {
        padding-right: 0;

        &::after {
            content: '';
        }
    }

    @include breakpoint(tablet) {
        padding-right: 28px;
    
        &::after {
            margin-left: -18px;

        }
    }
}

/*------------------------------------*\
    8. MAIN FOOTER
\*------------------------------------*/

/*------ Copyright ------*/

.copyright {
    @include breakpoint(tablet) {
        float: left;
        height:64px;
    }
}

/*------ Back to top link ------*/

.back-to-top {
    @include block;
    background: $gray-green url('../images/arrow_up.svg') no-repeat center center;
    background-size: 12px 18px;
    border-radius: 24px;
    height: 48px;
    margin: 32px auto 0;
    width: 48px;
    
    &:hover {
        background-color: lighten($gray-green, 10);
    }
    
    @include breakpoint(tablet) {
        background-size: 16px 24px;
        border-radius: 32px;
        bottom: 32px;
        height: 64px;
        margin: 0;
        position: absolute;
        right: 32px;
        width: 64px;
    }
}
